// GENERICS
/***************************************************/
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}


.master-header {
	color: white;
	display: flex;
	align-items: center;
	padding: 2.6em 4.3em;
	
	.branding {
		display: flex;
		align-items: center;

		.site-title {
			font-size: 1.8em;
			text-transform: uppercase;
			font-family: $font__primary;
			padding-left: 1em;
		}
	}

	nav {
		margin-left: auto;

		ul {

			@include horizontal-list;

			a {
				font-size: 1.8em;
				font-family: $font__primary;
				font-weight: 200;
				color: white;
				text-decoration: none;
			}
		}
	}
}