// BASIC ELEMENTS
/****************************************************/

.entry-content {
	margin: 2em;
}



.intro .row {
	margin:2em 0;
}

 #home-section-2 .row {
	margin:4em 0;
}

.up-btn {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3em;
	margin-bottom: 1.5em;
	

	@media (min-width: 992px) {
		font-size: 1.6em;
		margin-bottom: .5em;
	}
}

body {
	position: relative;
}

body.home {
	background: url('../../img/bg2.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#preloader {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%);
}

.scale {
	transition: all 0.5s;
	display: flex;
	min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

	&.scaleOut {
		transform: scale(0.99);
	}

	&.scaleIn {
		transform: scale(1);
	}
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: none;
  background-color: rgba(255,255,255,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: opacity 2s;

  &.show {
  	opacity: 1;
  	display: block;
  }

   &.hide {
  	opacity: 0;
  	display: none;
  }

}
// GENERICS
/***************************************************/


/* .scroll-after {

	&:after {
	    content: url(../../img/arrow-scroll.svg);
	    display: block;
	    margin-top: 3em;
	}

    &.center:after {
    	text-align: center;
    }

} */

.icon-before {


	font-size: 1.2em;
	line-height: 1.5em;
	vertical-align: middle;

	&:first-child:before {
		content:url(../../img/objectif.svg);
	/* 	width:55px; */
		display: block;
		padding-bottom: 1em;

		@media(min-width: 992px) {
			display:inline;
			padding-bottom: 0;
			 padding-right: 1em;
			vertical-align: inherit;
		}


	}

	&:last-child:before {
	    content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 55C42.9117 55 55 42.9117 55 28C55 13.0883 42.9117 1 28 1C13.0883 1 1 13.0883 1 28C1 42.9117 13.0883 55 28 55Z' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 11.6841V4.93726' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 51.0615V44.3146' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44.3154 27.9996H51.0624' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.93762 27.9996H11.6846' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8356 36.2706L28 27.9999L45.2376 12.7975' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M39.5305 8.62314C39.8594 8.62314 40.126 8.35655 40.126 8.02769C40.126 7.69884 39.8594 7.43225 39.5305 7.43225C39.2017 7.43225 38.9351 7.69884 38.9351 8.02769C38.9351 8.35655 39.2017 8.62314 39.5305 8.62314Z' fill='%23352A58'/%3E%3Cpath d='M16.4681 48.5674C16.797 48.5674 17.0636 48.3008 17.0636 47.9719C17.0636 47.6431 16.797 47.3765 16.4681 47.3765C16.1393 47.3765 15.8727 47.6431 15.8727 47.9719C15.8727 48.3008 16.1393 48.5674 16.4681 48.5674Z' fill='%23352A58'/%3E%3Cpath d='M47.9721 17.0632C48.3009 17.0632 48.5675 16.7966 48.5675 16.4678C48.5675 16.1389 48.3009 15.8723 47.9721 15.8723C47.6432 15.8723 47.3766 16.1389 47.3766 16.4678C47.3766 16.7966 47.6432 17.0632 47.9721 17.0632Z' fill='%23352A58'/%3E%3Cpath d='M8.02783 40.1259C8.35669 40.1259 8.62329 39.8592 8.62329 39.5303C8.62329 39.2014 8.35669 38.9348 8.02783 38.9348C7.69897 38.9348 7.43237 39.2014 7.43237 39.5303C7.43237 39.8592 7.69897 40.1259 8.02783 40.1259Z' fill='%23352A58'/%3E%3Cpath d='M39.5305 48.5674C39.8594 48.5674 40.126 48.3008 40.126 47.9719C40.126 47.6431 39.8594 47.3765 39.5305 47.3765C39.2017 47.3765 38.9351 47.6431 38.9351 47.9719C38.9351 48.3008 39.2017 48.5674 39.5305 48.5674Z' fill='%23352A58'/%3E%3Cpath d='M16.4681 8.62314C16.7969 8.62314 17.0635 8.35655 17.0635 8.02769C17.0635 7.69884 16.7969 7.43225 16.4681 7.43225C16.1393 7.43225 15.8727 7.69884 15.8727 8.02769C15.8727 8.35655 16.1393 8.62314 16.4681 8.62314Z' fill='%23352A58'/%3E%3Cpath d='M47.9721 40.1259C48.301 40.1259 48.5676 39.8592 48.5676 39.5303C48.5676 39.2014 48.301 38.9348 47.9721 38.9348C47.6433 38.9348 47.3767 39.2014 47.3767 39.5303C47.3767 39.8592 47.6433 40.1259 47.9721 40.1259Z' fill='%23352A58'/%3E%3Cpath d='M8.02783 17.0632C8.35669 17.0632 8.62329 16.7966 8.62329 16.4678C8.62329 16.1389 8.35669 15.8723 8.02783 15.8723C7.69897 15.8723 7.43237 16.1389 7.43237 16.4678C7.43237 16.7966 7.69897 17.0632 8.02783 17.0632Z' fill='%23352A58'/%3E%3C/svg%3E%0A");
	    display: block;
	    padding-bottom: 1em;

	    @media (min-width:992px) {
	    	padding-bottom: 0;
	    	display: inline;
		     padding-right: 1em;
		     vertical-align: inherit;
		 }

	}
}

.duration {
	
	
	font-size: 1.2em;
	line-height: 1.2em;
	vertical-align: middle;


	&.duration-blue:before {
	    content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 55C42.9117 55 55 42.9117 55 28C55 13.0883 42.9117 1 28 1C13.0883 1 1 13.0883 1 28C1 42.9117 13.0883 55 28 55Z' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 11.6841V4.93726' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 51.0615V44.3146' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44.3154 27.9996H51.0624' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.93762 27.9996H11.6846' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8356 36.2706L28 27.9999L45.2376 12.7975' stroke='%23352A58' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M39.5305 8.62314C39.8594 8.62314 40.126 8.35655 40.126 8.02769C40.126 7.69884 39.8594 7.43225 39.5305 7.43225C39.2017 7.43225 38.9351 7.69884 38.9351 8.02769C38.9351 8.35655 39.2017 8.62314 39.5305 8.62314Z' fill='%23352A58'/%3E%3Cpath d='M16.4681 48.5674C16.797 48.5674 17.0636 48.3008 17.0636 47.9719C17.0636 47.6431 16.797 47.3765 16.4681 47.3765C16.1393 47.3765 15.8727 47.6431 15.8727 47.9719C15.8727 48.3008 16.1393 48.5674 16.4681 48.5674Z' fill='%23352A58'/%3E%3Cpath d='M47.9721 17.0632C48.3009 17.0632 48.5675 16.7966 48.5675 16.4678C48.5675 16.1389 48.3009 15.8723 47.9721 15.8723C47.6432 15.8723 47.3766 16.1389 47.3766 16.4678C47.3766 16.7966 47.6432 17.0632 47.9721 17.0632Z' fill='%23352A58'/%3E%3Cpath d='M8.02783 40.1259C8.35669 40.1259 8.62329 39.8592 8.62329 39.5303C8.62329 39.2014 8.35669 38.9348 8.02783 38.9348C7.69897 38.9348 7.43237 39.2014 7.43237 39.5303C7.43237 39.8592 7.69897 40.1259 8.02783 40.1259Z' fill='%23352A58'/%3E%3Cpath d='M39.5305 48.5674C39.8594 48.5674 40.126 48.3008 40.126 47.9719C40.126 47.6431 39.8594 47.3765 39.5305 47.3765C39.2017 47.3765 38.9351 47.6431 38.9351 47.9719C38.9351 48.3008 39.2017 48.5674 39.5305 48.5674Z' fill='%23352A58'/%3E%3Cpath d='M16.4681 8.62314C16.7969 8.62314 17.0635 8.35655 17.0635 8.02769C17.0635 7.69884 16.7969 7.43225 16.4681 7.43225C16.1393 7.43225 15.8727 7.69884 15.8727 8.02769C15.8727 8.35655 16.1393 8.62314 16.4681 8.62314Z' fill='%23352A58'/%3E%3Cpath d='M47.9721 40.1259C48.301 40.1259 48.5676 39.8592 48.5676 39.5303C48.5676 39.2014 48.301 38.9348 47.9721 38.9348C47.6433 38.9348 47.3767 39.2014 47.3767 39.5303C47.3767 39.8592 47.6433 40.1259 47.9721 40.1259Z' fill='%23352A58'/%3E%3Cpath d='M8.02783 17.0632C8.35669 17.0632 8.62329 16.7966 8.62329 16.4678C8.62329 16.1389 8.35669 15.8723 8.02783 15.8723C7.69897 15.8723 7.43237 16.1389 7.43237 16.4678C7.43237 16.7966 7.69897 17.0632 8.02783 17.0632Z' fill='%23352A58'/%3E%3C/svg%3E%0A");
	    padding-bottom: 1em;
	    display:block;

	    @media (min-width: 992px) {
	    	display: inline;
	    	padding-bottom: 0;
		    padding-right: .7em;
			vertical-align: inherit;
		}

		



	   
	}

	&.duration-white:before {
	    content: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 55C42.9117 55 55 42.9117 55 28C55 13.0883 42.9117 1 28 1C13.0883 1 1 13.0883 1 28C1 42.9117 13.0883 55 28 55Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 11.6841V4.93726' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 51.0615V44.3146' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M44.3154 27.9996H51.0624' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.93762 27.9996H11.6846' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8356 36.2706L28 27.9999L45.2376 12.7975' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M39.5305 8.62314C39.8594 8.62314 40.126 8.35655 40.126 8.02769C40.126 7.69884 39.8594 7.43225 39.5305 7.43225C39.2017 7.43225 38.9351 7.69884 38.9351 8.02769C38.9351 8.35655 39.2017 8.62314 39.5305 8.62314Z' fill='white'/%3E%3Cpath d='M16.4681 48.5674C16.797 48.5674 17.0636 48.3008 17.0636 47.9719C17.0636 47.6431 16.797 47.3765 16.4681 47.3765C16.1393 47.3765 15.8727 47.6431 15.8727 47.9719C15.8727 48.3008 16.1393 48.5674 16.4681 48.5674Z' fill='white'/%3E%3Cpath d='M47.9721 17.0632C48.3009 17.0632 48.5675 16.7966 48.5675 16.4678C48.5675 16.1389 48.3009 15.8723 47.9721 15.8723C47.6432 15.8723 47.3766 16.1389 47.3766 16.4678C47.3766 16.7966 47.6432 17.0632 47.9721 17.0632Z' fill='white'/%3E%3Cpath d='M8.02783 40.1259C8.35669 40.1259 8.62329 39.8592 8.62329 39.5303C8.62329 39.2014 8.35669 38.9348 8.02783 38.9348C7.69897 38.9348 7.43237 39.2014 7.43237 39.5303C7.43237 39.8592 7.69897 40.1259 8.02783 40.1259Z' fill='white'/%3E%3Cpath d='M39.5305 48.5674C39.8594 48.5674 40.126 48.3008 40.126 47.9719C40.126 47.6431 39.8594 47.3765 39.5305 47.3765C39.2017 47.3765 38.9351 47.6431 38.9351 47.9719C38.9351 48.3008 39.2017 48.5674 39.5305 48.5674Z' fill='white'/%3E%3Cpath d='M16.4681 8.62314C16.7969 8.62314 17.0635 8.35655 17.0635 8.02769C17.0635 7.69884 16.7969 7.43225 16.4681 7.43225C16.1393 7.43225 15.8727 7.69884 15.8727 8.02769C15.8727 8.35655 16.1393 8.62314 16.4681 8.62314Z' fill='white'/%3E%3Cpath d='M47.9721 40.1259C48.301 40.1259 48.5676 39.8592 48.5676 39.5303C48.5676 39.2014 48.301 38.9348 47.9721 38.9348C47.6433 38.9348 47.3767 39.2014 47.3767 39.5303C47.3767 39.8592 47.6433 40.1259 47.9721 40.1259Z' fill='white'/%3E%3Cpath d='M8.02783 17.0632C8.35669 17.0632 8.62329 16.7966 8.62329 16.4678C8.62329 16.1389 8.35669 15.8723 8.02783 15.8723C7.69897 15.8723 7.43237 16.1389 7.43237 16.4678C7.43237 16.7966 7.69897 17.0632 8.02783 17.0632Z' fill='white'/%3E%3C/svg%3E%0A");
	    padding-bottom: 1em;
	    display: block;
	   
	     @media (min-width: 992px) {
	     	display: inline;
	     	padding-bottom: 0;
		    padding-right: .7em;
			vertical-align: inherit;
		}
	  
	}
}

.up-title {
	font-size: 1.3em;
	font-wieght: 300;
	text-transform: uppercase;
}


// BUTTONS
/***************************************************/


.content-episode {

	h3 {
		font-family: $font__secondary;
		font-size: 3.5em;
	}

	.content {
		margin-top: 29px;

		a {
			text-transform: uppercase;
			color: white;
			text-decoration: none;
			margin:1em 0;
			border: 2px solid #352A58;
			border-radius: 2.5em;
			color: #352A58;
			padding: .8em 3em;
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			font-size: 1.2em;
 
			&:before {
					content: url(../../img/dwld.svg);
					padding-right: 1em;
					vertical-align: inherit;
					display: block;

					@media (min-width:576px) {
						display: inline;
					} 
				}
				&.play:before {
					content: url(../../img/play.svg);
					
				}
			
				&.download:before {
					content: url(../../img/dwld.svg);
					
				}
			}

		}

	.up-title {
		/* &:before {
			content:url(../../dist/svg/arrow_blue_to_top.svg);
			display:block;
		} */
	}
}



.menu-btn, .default-btn:not(.cancel-track) {
	border: 2px solid #FFFFFF;
	border-radius: 2.5em;
}

.default-btn.btn-invert {
	border-color: #352A58;

	a {
		color: #352A58;
	}
}

.menu-btn {

	padding: 1em 3em !important;

	@media(min-width:992px) {
		padding: 0.1em .7em !important;
	}
}

.login-btn a:before {
	content:url("../../img/user.svg");
	display: inline-block;
	vertical-align: -13%;
	padding-right: .4em;
	width: 1.3em;
	height: auto;
	stroke: white;
}

.default-btn {
	display: inline-block;
	padding: 0.8em 2em;

	a {
	    text-transform: uppercase;
	    color: white;
	    font-size: 1.5em;
	    text-decoration: none;
	}
}
 


// HEADER - FOOTER - NAVS
/***************************************************/
header * {transition: all .5s;}
button:focus {
	outline: 5px auto rgba(255,255,255, .5);
}

footer {
	#navbarNav {
		display: flex;
		flex-grow: 1;
	}

}

#header-container {
	transition: all .5s;
	&.open {
		height: 100vh;
		background: $color__primary;
		z-index: 1;

		#navbarNav {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}


.logo {
	/* width: calc(87px/2);
	height: calc(81px/2); */
	/* width: calc(87px*.66); */
	width: 57px;
	/* height: calc(81px*.66); */
	width: 54px;
	display: inline-block;

	svg {
		stroke: white;
	}

	@media(min-width: 992px) {
		width: 57px;
		height: 54px;
	}
}
.nav-link {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 1.8em;
    font-family: $font__primary;
    font-weight: 200;
    color: white!important;
    text-decoration: none;
}

.logout-btn {

	margin-right: 2em;
	display: flex;
	align-items: center;

	a {
		font-size: 1em;
		text-decoration: underline;
	}
}

.home footer {
	margin-top: 25em;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
}

footer {
	background: #211948;
}

footer, header {
	padding: .5em 1em;
}

footer, header {
	/* background: $color__background; */
}

.home header {
	background: transparent;
}


.um-page-account header, .um-page-login header, .um-page-password-reset header, .single-parcours:not(.logged-in) header {
	background: #211948;
}
/* .single-parcours header {
	background: #211948;
}
 */
.page-template-library header {
	background:transparent;

	.navbar-dark .navbar-brand, .nav-link  {
		color: $color__background!important;
	}

	.menu-btn {
		border-color: $color__background;
	}

	.logo svg {
		stroke: $color__background;
	}

	.login-btn a:before {
		content:url("../../img/user_invert.svg");
		fill: $color__background;
		stroke: $color__background;
	}
}


// HOME
/***************************************************/

.parcours-container .row {
	margin: 3em 0;
}

.parcours-item {
	padding: 1em 2em;
	border: 1px solid #FFFFFF;

	&:hover {
		border-color: transparent;
		background: rgba(0, 170, 166, 0.2);
	} 
} 

@media (min-width: 1200px) {
	.img-abs-container img {
		position: absolute;
		width:100%;
		/* height: 100%; */
		max-width: none;
	}
}

// SINGLE PARCOURS
/***************************************************/


#header-single-parcours {
	background: url(../../img/bg.png);
	background-size: cover;
	color: #FFFFFF;
	padding-bottom: 5em;
	
	/* @media(min-width: 992px) {
		padding-top: 0;
	} */

	.column {
		padding-top: 10em;

		@media (min-width: 992px) {
			padding-bottom: 10em;
		}
	}


	h1 {
		font-weight: 700;
		font-size: 3em;

		@media(min-width: 992px) {
			font-size: 4.6em;
		}
	}
}


#episode-section-2 {
	margin: 7em 0;
}


.episodes-list {  

	 

	@media(min-width: 576px) {
		display: flex;
		flex-wrap: wrap;
	   justify-content: space-between;
		flex-direction: row;
	} 

	.episode-item {

		

		transition: all .5s;
		position: relative; 

		&:before {
			content:'';
   			float:left;
        	padding-top:100%;
    	}

		

		.colored {
			
			border: 3px solid transparent;
			padding: 7em 5em;

			.icone-line {
				span {
					font-size:1rem;
				}
				img {
					display: block;
				}
			}

			.episode-title {
				padding-right:2em;
			}

		}

		.icone-episode {
			width: 51px;
		}


	
		@media(min-width: 576px) {
			flex-basis: 48%;

			.colored {
				padding:5em 3em;
				padding-right:1em;
				
			}
		}

		@media(min-width: 768px) {
			.colored {
				padding:7em 3em;
				padding-right:1em;
				
			}
			flex-basis: 32%;
		}

		@media(min-width: 992px) {
			.colored {
				padding:7em 3em;
				padding-right:1em;
			}
			flex-basis: 32%;
		}

		@media(min-width: 1200px) {
			.colored {
				padding:7em 3em;
				padding-right:1em;

				.icone-line {
					img {
						display:inline;
					}
				}
			}
			flex-basis: 23%;
		} 

		@media(min-width: 1920px) {
			.colored {
				padding:10em 3em;
				padding-right:1em;
			} 
		}

		@media(min-width: 2560px) {
			.colored {
				padding:5em 3em;
				padding-right:1em;
			}
		}


	

	


		.checkbox-discover {

			font-size: 1.5em;

			label {
				display: block;
			  position: relative;
			  padding-left: 35px;
			  margin-bottom: 12px;
			  cursor: pointer;
			  font-size: 22px;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			}

			input {
				position: absolute;
				opacity: 0;
				height: 0;
				width: 0;

				&:checked ~ .checkmark-input:after, &:checked ~ .checkmark-input:before {
				  display: block;
				}
			}

			.checkmark-input {
				position: absolute;
				border:1px solid $color__background;
				border-radius: 2px;
				top: 3px;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: transparent;

				&:before {
					position: absolute;
				    left: 0;
				    top: 29%;
				    height: 50%;
				    width: 3px;
				    background-color: #00AAA6;
				    content: "";
				    transform: translateX(10px) rotate(-45deg);
				    transform-origin: left bottom;
				    display: none;
				}

				&:after {
				    display: none;
				    position: absolute;
				    left: 0;
				    bottom: 3px;
				    height: 3px;
				    width: 100%;
				    background-color: #00AAA6;
				    content: "";
				    transform: translateX(10px) rotate(-45deg);
				    transform-origin: left bottom;
				}
				
			}

		}


		.icone {
			width: 48px;
			height: 45.26px;
		}

		h2 {
			font-family: $font__primary;
			/* padding-bottom: 40%; */
		}

		&.selected {
			
			 position: relative;

			 .colored {

			 	border-color: #352A58;


			 	&:after {
					content: '';
				    position: absolute;
				    left: 50%;
				    transform: translateX(-50%);
				    top: 100%;
				    margin-top: -3px;
				    width: 0;
				    height: 0;
				    border-left: 20px solid transparent;
				    border-right: 20px solid transparent;
				    border-top: 20px solid #e8e8e8;
				    clear: both;
				}

				@media(min-width:1200px) {
					/* padding: 2em 0; */
				}
			 }
		}
	}
}

 .page-template-library {


	.episodes-list {
		justify-content: flex-start;

		.checkbox-discover {
	 		label {
	 			padding-left: 0;
	 		}
	 	}

		.episode-item {

			@media(min-width: 992px) {
				margin-right: 2em;
			}
		}
	}

	.content-episode-container {
		margin-bottom:4em;
		width: 100%;
	}
} 

.content-episode-container {

	.content-episode {

		.close {
			position: relative;
			z-index: 9999;
			margin-top: -20px;
			cursor: pointer;
		}

		> div:first-child {
			border: 3px solid #352A58;
			/* border-bottom: none; */
		}

		.save-section {
			/* background: rgb(255,255,255);
			background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,231,0.6026785714285714) 51%, rgba(255,255,255,1) 100%);
			border: 3px solid #352A58;
			border-top: none; */
		}
	}
	display: none;
	
	p {
		font-size: 1.2em;
		line-height: 1.2;
	}

}


.save-section {

	text-align:center;

	.bravo {
		display: block;
		font-family: $font__secondary;
		font-size: 3.6em;
	}

	.cancel-track {

			
			font-size:1em;
			text-decoration: underline;
			color: $color__background;
		
	}

	> div:first-child {
		font-weight: 600;
		font-size: 1.7em;
	}

	a {
		font-size: 1.5em;
		font-weight: 500;
	}
}


/**********************************
		PROGRESS BAR 
		************************************/

#progress-section {

	margin:3em 0 3em 0;

	.progress-text {
		font-weight: 600;
		font-size: 1.25em;
	}

	.progress {
	  margin:1.25em 0;
	  padding:0;
	  width:70%;
	  height:23px;
	  overflow:hidden;
	  background:transparent;
	  border:1px solid #00AAA6;
	}

	.bar {
	  position:relative;
	  float:left;
	  min-width:1%;
	  height:100%;
	  background:#00AAA6;
	}
}

.completed {

	margin-bottom:3em;

	& div:first-child {
		text-transform: uppercase;
		font-size: 1.6em;
		font-weight: 600;
		margin-bottom: .5em;
	}
}

.checkmark:before {
	content:url(../../dist/svg/checkmark.svg);
	vertical-align: -13%;
	padding-left: 15px;
}
/***************************
	LOGIN PAGES
	*************************/

body.um-page-login article {
	margin-top: 3em;
}


.um input[type=submit].um-button, .um input[type=submit].um-button:focus, .um a.um-button, .um a.um-button.um-disabled:hover, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:active {
    border: 2px solid #352A58!important;
	border-radius: 40px!important;
}

.um input[type=submit].um-button, .um input[type=submit].um-button:focus {
    background: #352A58!important;
}

.um a.um-button, .um .um-button.um-alt, .um .um-field-label {
	color: #352A58!important;
}


.um .um-button.um-alt {
	background: white!important;
}

a.um-link-alt { 
	text-decoration: underline!important;
	color: #352A58!important;
}

.um-link, .um-account-side li a.current span.um-account-icon {
	color: #352A58!important;	
}

.um-form input {
	border: 2px solid #352A58!important; 
}

.logged-in.um-page-account.um-page-loggedin article{
	margin:3em auto;
	width:80%;
}

.logged-in-only {
	text-align: center;
	font-size: 1.8em;
	margin: 3em;
}


#parcours-secondaire {
	display: none;
	width: 100%;
	background: url(../../img/bg_secondaire.png);
	background-size:cover;
	padding:3em 0;

	.intro, .parcours-container {
		color: white;
	}
}

.theme-title {
	display: flex;
	margin:3em 0 2em 0;
	align-items: center;
	font-family: $font__primary;
	font-size: 1.75em;

	img {
		margin-right: 1em;
	}
}