/**************************************
	GENERIC STYLES
	*********************************************/

body.home {
	color: #FFF;
}


@media (min-width: 992px) {
	body {
		font-size: 16px;
	}
}


@media (min-width: 2560px) {
	body {
		font-size: 24px;
	}
}

@media (min-width: 3600px) {
	body {
		font-size: 32px;
	}

}





img:not(.notresp) {
	max-width: 100%;
	height: auto; 
}


/*************************************
	MIXINS
	******************************************/
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
