/**************************************
	GENERIC STYLES
	*********************************************/

body {
	font-size:10px;
}


@media (min-width: 992px) {
	body {
		font-size: 16px;
	}
}


@media (min-width: 2560px) {
	body {
		font-size: 24px;
	}
}

@media (min-width: 3600px) {
	body {
		font-size: 32px;
	}

}




img:not(.notresp) {
	max-width: 100%;
	height: auto;
}






