// HOME
/***************************************************/


.under-header {
	padding-top: 7em;
}


.single-parcours .wrapper, .page-template-library .page-content {
	padding-bottom: 15em;
}

.um-page-account .wrapper, .um-page-login .wrapper, .um-page-password-reset .wrapper, .single-parcours:not(.logged-in) .wrapper {
	padding-top: 15em;
}

.w-40 {
	width: 40%;
}



@media (min-width: 1440px) {
	.container{
	    max-width: 1300px;
	}
}

@media (min-width: 1920px) {
	.container{
	    max-width: 1600px;
	}
}





/* .section {
	margin: 3em;
} */

#home-section-2 {
	margin-top: 11em;

	.column:last-child p {
		width: 70%;
	}
}

#home-section-3 {
	margin-top: 13em;
}

#home-section-4 {
	margin-top: 4em;
}

