
$font__primary: "Barlow", sans-serif;
$font__secondary: 'Playfair Display', serif;

$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;

body {
	font-family: $font__primary;
	font-size: 10px;
	font-weight: 300;
}

p {
	line-height: 1.5;
	font-size: 1.5em;
}



@media (min-width: 992px) {
	body {
		font-size: 14px;
	}
}


@media (min-width: 2560px) {
	body {
		font-size: 24px;
	}
}

@media (min-width: 3600px) {
	body {
		font-size: 32px;
	}

}



h1 {
	font-family: $font__secondary;
	font-size: 3em;
	line-height: .9;
	margin-bottom: .45em;
	font-weight: 900;

	@media(min-width: 768px) {
		font-size: 5.6em;
	}
}



h2, .h2-sized {
	font-family: $font__secondary;
	font-size: 2em;
}

h3, .h3-sized {
	font-family: $font__primary;
	font-size: 1.75em;
	margin-bottom: 1rem;
	font-weight: 600;
}

.theme-title h3 {
	font-size: 1.2em;
	font-family: $font__primary;
}

h4, .h4-sized {
	font-size: 1.5em;
	font-weight: 300;
}


.site-title {
	font-size: .6em;
	text-transform: uppercase;
	font-family: $font__primary;

	@media(min-width: 992px) {
		font-size: 1.5rem;
	}
}






.page-title { 
	font-family: $font__secondary;
	font-size: 4.6em;
	font-weight: 700;
}




